.wrapper {
  height: inherit;
}

.contentWrapper {
  height: calc(100% - 88px);
}

.mainWrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.loader {
  position: absolute;
  z-index: 10000 !important;
}
